@{
    ViewData["Title"] = "Login";
    var returnUrl = ViewData["ReturnUrl"] as string;
}
<div class="container mt-5" style="max-width:420px">
    <h3 class="mb-3 text-center">Sign in</h3>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }
    <form asp-action="Login" method="post">
        <input type="hidden" name="returnUrl" value="@returnUrl" />
        <div class="mb-2">
            <label class="form-label">Email</label>
            <input name="email" type="email" class="form-control" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input name="password" type="password" class="form-control" required />
        </div>
        <div class="form-check mb-3">
            <input name="rememberMe" class="form-check-input" type="checkbox" />
            <label class="form-check-label">Remember me</label>
        </div>
        <button class="btn btn-light w-100">Login</button>
        <div class="mt-2">
            <a href="/Account/Register">Create a new account</a>
        </div>
    </form>
</div>
